
.button {

    font-family: $primary-font;
    color: $black;

}

.pagar {
    background-color: $sky;
    border: 1px solid $sky;
    border-radius: 19px;
}

.agregar {

    background-color: $sky;
    border: 1px solid $sky;
    border-radius: 19px;

}

.pagartodo {

    background-color: $safe;
    border: 1px solid $safe;
    font-weight: $bold;
    font-size: $font-size-medium;
    border-radius: 19px;

}

.servicios-impagos {
    
   color: $white;

}

.canjear {
    background-color: $sky;
    border: 1px solid $sky;
    border-radius: 19px;    
}