// color

$black: #000000;
$grey: #514E4E;
$sylver: #C4C4C4;

$white: #FFFFFF;
$snow: #F8F5F5;

$sky: #43C4E0;
$light-sky: #A7E4F1;

$safe: #84CA63;
$light-safe: #ABF08A;

//fonts

$primary-font: 'Oxygen', sans-serif;
$bold: 700;
$regular: 400;

$font-size-small: 8;
$font-size-medium: 10;
$font-size-large: 12;