// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
background-color: $black;
display: block;
padding: 3em;
text-align: center;
    
}

.footer__link {

    font-family: $primary-font;
    font-weight: $bold;
    font-size: $font-size-large;
    text-decoration: underline;
    


}