.comprobante__container {
    height: 667px;

}

.comprobante__boton-descarga {
    background-color: $safe;
    border: 1px solid $safe;
    font-weight: $bold;
    font-size: $font-size-medium;
    border-radius: 19px;
    box-sizing: content-box;
}

.comprobante__boton-retorno {
    background-color: $sky;
    border: 1px solid $sky;
    border-radius: 19px;
    box-sizing: content-box;
}