body {
    background-color: $black;
    color: $white;
}

h1 {
    font-size: 12px;
}

h2 {
    font-size: 10px;
}

h4 {
    font-size: 8px;
}
 
.pago__container {

    margin: 0 auto;
    border-bottom: solid $white 1px;

}

.cuenta__container {

    background-color: black;
    font-family: $primary-font;
    font-size: $font-size-small;
    border: solid $white 1px;
    border-radius: 8px;

}

.puntos {
    width: 100%;
    margin: 0 auto;
    
}

.puntos__cantidad {
  color: $safe;
}